

/* h1 {
  margin: 1rem auto 4rem;
} */

.product--image {
  width: 100%;
  height: 10em;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 170px;
  height: 220px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}

.name1{
  font-size: 16px;
  color: black;
  font-weight: normal;
}




.container {
  display: grid;
  grid-template-columns: 300px 150px 150px;
  grid-gap: 10px;
}

.item {
  color: white;
  padding: 1.5em 0;
  font-size: 2em;
}

.a {
  background: #0d9;
}

.b {
  background: #d90;
}

.c {
  background: #9d0;
}

.d {
  background: #90d;
}

.e {
  background: #d09;
}

.f {
  background: #09d;
}

.a {
  grid-area: 4 ;
}

#headphoneImg{
  height: 400px;
  width: 400px;
  display: block;
}

@media screen and (max-width: 900px) {
  #headphoneImg{
    display: none;
  }
}



@media screen and (max-width: 1180px) {
  .animatedTextSlider{
    font-size: 70px;
  }
}
@media screen and (max-width: 1080px) {
  .animatedTextSlider{
    font-size: 70px !important;
  }
}
@media screen and (max-width: 1030px) {
  .animatedTextSlider{
    font-size: 60px !important;
  }
}
@media screen and (max-width: 883px) {
  .animatedTextSlider{
    font-size: 50px !important;
  }
}
@media screen and (max-width: 736px) {
  .animatedTextSlider{
    font-size: 35px !important;
  }
}
@media screen and (max-width: 520px) {
  .animatedTextSlider{
    font-size: 25px !important;
  }
}





@media screen and (max-width: 900px) {
  .carouselImg{
    height:400px;
    width:100%;
  }
}
@media screen and (max-width: 600px) {
  .carouselImg{
    height:300px;
    width:100%;
  }
}
@media screen and (max-width: 300px) {
  .carouselImg{
    height:250px;
    width:100%;
  }
}