/* src/fonts/fonts.css */

@font-face {
    font-family: 'laterfont';
    src: url('/fonts/laterfont.ttf') format('truetype');
    /* Add additional font formats here if you have them (e.g., .woff, .woff2, .otf) */
  }
  @font-face {
    font-family: 'duhline';
    src: url('/fonts/duhline.ttf') format('truetype');
    /* Add additional font formats here if you have them (e.g., .woff, .woff2, .otf) */
  }
  @font-face {
    font-family: 'poppins';
    src: url('/fonts/poppin.otf') format('truetype');
    /* Add additional font formats here if you have them (e.g., .woff, .woff2, .otf) */
  }
  @font-face {
    font-family: 'poppins-light';
    src: url('/fonts/Poppins-Light.ttf') format('truetype');
    /* Add additional font formats here if you have them (e.g., .woff, .woff2, .otf) */
  }